.autocomplete-search
	.autocomplete-search__row
		input#autocomplete-search(type="text" name="s" placeholder="Поиск...")
	.autocomplete-search__lupe
	.autocomplete-search__loading
		img(src="/src/i/loading.svg" width="24" height="24" loading="lazy")
	.autocomplete-search__result
	p fjfjjfk