.b-advantages 
  .container
    .b-advantages__title
      h2 Преимущества центра неотложной помощи медицинской службы «Доктор 03»
    .b-advantages__items
      .b-advantages__item
        .b-advantages__icon
          img(src="/i/icon-hand-like.svg")
        .b-advantages__text.text
          p <b>Оперативность.</b><br>Бригады «Доктор 03» загружены не так, как муниципальные подстанции скорой помощи. Это позволяет нам отправлять машины неотложки максимально быстро. Наши подстанции неотложки расположены во многих районах Москвы, в том числе в центре, благодаря чему мы тратим минимум времени в пробках. Кроме того, вы можете вызвать неотложную помощь не только в пределах столицы, но и за МКАД.
      .b-advantages__item
        .b-advantages__icon
          img(src="/i/icon-hand-like.svg")
        .b-advantages__text.text
          p <b>Профессионализм.</b><br>В службе неотложной круглосуточной помощи взрослым «Доктор 03» работают высококвалифицированные врачи, фельдшеры и водители. Медперсонал неотложки имеет значительный опыт оказания первой помощи в экстренных ситуациях.
      .b-advantages__item
        .b-advantages__icon
          img(src="/i/icon-hand-like.svg")
        .b-advantages__text.text
          p <b>Техническое и медикаментозное оснащение.</b><br> Парк автомобилей неотложной медицинской помощи «Доктор 03» – это специально оборудованные иномарки. Машины неотложки отличаются мягкими подвесками, высокой маневренностью и наличием современного медицинского оборудования. Каждая бригада неотложки имеет полный комплект оборудования и современных лекарственных средств. Все это помогает нам оказывать экстренную помощь практически в любых ситуациях.
      .b-advantages__item
        .b-advantages__icon
          img(src="/i/icon-hand-like.svg")
        .b-advantages__text.text
          p <b>Когда счет идет на минуты, вы можете положиться на нас</b> и вызвать неотложку «Доктор 03». Для этого свяжитесь с нашими диспетчерами по телефону в Москве<br><br><a href="#">+7 (495) 401-76-00</a>