section.b-addresses-contacts
  .container
    .b-addresses-contacts__applications
      .b-addresses-contacts__title
        h2 Помогаем прямо сейчас
      .b-addresses-contacts__inner
        .b-addresses-contacts__map
          img(src="/i/b-map.jpg")
        .b-addresses-contacts__contact
          .b-addresses-contacts__text.text
            span Служба скорой помощи «Доктор 03»
            span Главный врач
            p - Губкина Ольга Александровна
            span Слесарев Вячеслав Сергеевич
            p - заместитель главного врача
            span Азаренкова Ольга Владимировна
            p - заместитель главного врача по выезду на дом
            span Гершман Ольга Борисовна 
            p - заместитель главного врача по клиентскому сервису
            span ООО «Доктор 03»
            p Юридический адрес: 125130, г. Москва, ул. Клары Цеткин, д.33, корп.24.
            p Контактный телефон <a href="#">+7 (495) 401-75-99</a>
          .b-addresses-contacts__buttons
            a(href="#").b-addresses-contacts__callback.button Обратный звонок
            a(href="#").b-addresses-contacts__callup.button Вызвать скорую
    .b-addresses-contacts__addresses
      .b-addresses-contacts__title
        h2 Адреса скорой помощи
      .b-addresses-contacts__items
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--novye-cheryomushki
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Новые Черемушки»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--voykovskaya
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Войковская»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. Клары Цеткин
            p Москва, ул. Клары Цеткин,д. 33/28
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--maryina-roshcha
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Марьина Роща»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> в 3-м проезде Марьиной Рощи
            p Москва, 3-й проезд Марьиной Рощи, д. 41
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--water-stadium
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Водный стадион»,<br> МЦК «Коптево»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. Сенежская
            p Москва, ул. Сенежская, д. 1/9
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--kurskaya
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Курская»<br> м. «Чкаловская»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на 2-й Сыромятнический пер.
            p Москва, 2-й Сыромятнический пер., д. 11
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--molodyozhnaya
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Молодежная»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--tekstilshchiki
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Текстильщики»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--vdnx
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «ВДНХ»,<br>м. «Алексеевская»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--sevastopol
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Севастопольская»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--voykovskaya
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Войковская»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--belorusskaya
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Белорусская»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте
        a(href="#").b-addresses-contacts__item
          .b-addresses-contacts__line.b-addresses-contacts__line--voykovskaya
            .b-addresses-contacts__color
            .b-addresses-contacts__station м. «Войковская»
          .b-addresses-contacts__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses-contacts__button Показать на карте