section.b-addresses
  .container
    .b-addresses__applications
      .b-addresses__title
        h2 Помогаем прямо сейчас
      .b-addresses__inner
        .b-addresses__map
          img(src="/i/b-map.jpg")
        .b-addresses__orders
          .b-addresses__orders-title online заявки
          .b-addresses__orders-operators
            .b-addresses__orders-total Операторов: <span>36</span>
            .b-addresses__orders-available Доступно: <span>2</span>
          ul
            li <span>11:12</span><span> 499 XXX 5550</span>
            li <span>11:12</span><span> 499 XXX 5550</span>
            li <span>11:12</span><span> 499 XXX 5550</span>
            li <span>11:12</span><span> 499 XXX 5550</span>
            li <span>11:12</span><span> 499 XXX 5550</span>
            li <span>11:12</span><span> 499 XXX 5550</span>
            li <span>11:12</span><span> 499 XXX 5550</span>
            li <span>11:12</span><span> 499 XXX 5550</span>
    .b-addresses__addresses
      .b-addresses__title
        h2 Адреса скорой помощи
      .b-addresses__items
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--novye-cheryomushki
            .b-addresses__color
            .b-addresses__station м. «Новые Черемушки»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--voykovskaya
            .b-addresses__color
            .b-addresses__station м. «Войковская»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. Клары Цеткин
            p Москва, ул. Клары Цеткин,д. 33/28
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--maryina-roshcha
            .b-addresses__color
            .b-addresses__station м. «Марьина Роща»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> в 3-м проезде Марьиной Рощи
            p Москва, 3-й проезд Марьиной Рощи, д. 41
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--water-stadium
            .b-addresses__color
            .b-addresses__station м. «Водный стадион»,<br> МЦК «Коптево»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. Сенежская
            p Москва, ул. Сенежская, д. 1/9
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--kurskaya
            .b-addresses__color
            .b-addresses__station м. «Курская»<br> м. «Чкаловская»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на 2-й Сыромятнический пер.
            p Москва, 2-й Сыромятнический пер., д. 11
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--molodyozhnaya
            .b-addresses__color
            .b-addresses__station м. «Молодежная»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--tekstilshchiki
            .b-addresses__color
            .b-addresses__station м. «Текстильщики»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--vdnx
            .b-addresses__color
            .b-addresses__station м. «ВДНХ»,<br>м. «Алексеевская»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--sevastopol
            .b-addresses__color
            .b-addresses__station м. «Севастопольская»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--voykovskaya
            .b-addresses__color
            .b-addresses__station м. «Войковская»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--belorusskaya
            .b-addresses__color
            .b-addresses__station м. «Белорусская»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте
        a(href="#").b-addresses__item
          .b-addresses__line.b-addresses__line--voykovskaya
            .b-addresses__color
            .b-addresses__station м. «Войковская»
          .b-addresses__designation.text
            p <span>«см-клиника»</span> на ул. новочеремушкинская
            p Москва, ул.Новочеремушкинская, д.65, корп.1
          button(type="button").b-addresses__button Показать на карте