section.b-main-regime
  .container
    .b-main-regime__title
      h2 Как мы работаем
    .b-main-regime__content
      .b-main-regime__text.text
        p Подстанция частной скорой помощи «Доктор 03» работает без выходных, 24 часа в сутки. Это позволяет нам оперативно реагировать на вызовы и срочно выезжать к пациентам. Перед тем как позвонить в скорую помощь, успокойтесь. Сообщите оператору подробную информацию о произошедшем, состоянии пострадавшего, назовите точный адрес. Когда речь идет о жизни и здоровье, деньги отходят на второй план. В экстренных ситуациях рекомендуем незамедлительно вызвать скорую помощь по телефону <a href="#"> +7 (495) 153-24-33 </a>. По этому же номеру можно получить консультацию специалистов обо всех услугах скорой помощи медицинской службы «Доктор 03».
      .b-main-regime__image
        picture 
          img(src="/i/woman-doctor.png" loading="lazy")
