section.b-anchors
  .container
    .b-anchors__title
      h2 Цены на услуги скорой помощи
    .b-anchors__items
      a(href="#b-help").b-anchors__item
        .b-anchors__icon
          img(src="/i/icon-doctor.svg")
        span Медицинская помощь
      a(href="#").b-anchors__item 
        .b-anchors__icon
          img(src="/i/icon-wheel.svg")
        span Спопровождение
      a(href="#").b-anchors__item 
        .b-anchors__icon
          img(src="/i/icon-party.svg")
        span Дежурство
      a(href="#").b-anchors__item 
        .b-anchors__icon
          img(src="/i/icon-plus.svg")
        span Госпитализация
      a(href="#").b-anchors__item 
        .b-anchors__icon
          img(src="/i/icon-puzzle.svg")
        span Дополнительно
