.b-description
  .container
    .b-description__title
      h2 Описание услуги
    a(href="#").b-description__back Вернуться к списку услуг
    .b-description__container
      .b-description__text.text
        p От внезапных проблем со здоровьем не застрахован ни один, даже самый крепкий организм, что уж говорить о людях преклонного возраста или страдающих хроническими заболеваниями. Несчастье может произойти где угодно и когда угодно, и тогда понадобится вызов неотложки на дом, на дачу или на работу, днем или ночью. Не теряйте ни минуты и звоните в круглосуточную неотложку «Доктор 03». Наши специалисты оперативно выедут в любой район Москвы и окажут экстренную помощь.
        a(href="#").b-description__button Вызвать скорую помощь
      .b-description__image
        picture
          img(src="/i/gallery-photo-5.jpg")