.b-detailed
  .container 
    .b-detailed__items
      .b-detailed__item
        .b-detailed__icon
          picture
            img(src="/i/doctors.png")
        .b-detailed__content
          .b-detailed__text.text
            span Наши врачи 
            p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
          a(href="#").b-detailed__button Подробнее
      .b-detailed__item
        .b-detailed__icon
          picture
            img(src="/i/doctors.png")
        .b-detailed__content
          .b-detailed__text.text
            span Наши врачи 
            p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
          a(href="#").b-detailed__button Подробнее
      .b-detailed__item
        .b-detailed__icon
          picture
            img(src="/i/doctors.png")
        .b-detailed__content
          .b-detailed__text.text
            span Наши врачи 
            p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
          a(href="#").b-detailed__button Подробнее
      .b-detailed__item
        .b-detailed__icon
          picture
            img(src="/i/doctors.png")
        .b-detailed__content
          .b-detailed__text.text
            span Наши врачи 
            p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
          a(href="#").b-detailed__button Подробнее
      .b-detailed__item
        .b-detailed__icon
          picture
            img(src="/i/doctors.png")
        .b-detailed__content
          .b-detailed__text.text
            span Наши врачи 
            p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
          a(href="#").b-detailed__button Подробнее
      .b-detailed__item
        .b-detailed__icon
          picture
            img(src="/i/doctors.png")
        .b-detailed__content
          .b-detailed__text.text
            span Наши врачи 
            p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
          a(href="#").b-detailed__button Подробнее
      