.b-description-2
  .container
    .b-description-2__title
      h2 О компании
    .b-description-2__container
      .b-description-2__text.text
        p С 2013 года служба скорой медицинской помощи для взрослых и детей «Доктор 03» круглосуточно оказывает все виды экстренной медицинской помощи на территории Москвы и Подмосковья.
        p Ежедневно выезды осуществляют реанимационная, линейная и педиатрическая бригады скорой помощи. Экипажи СПМ, совершающие выезды с опытными врачами и фельдшерами, оснащены современным оборудованием и набором всех необходимых лекарственных средств в соответствии с Приказом Министерства Здравоохранения.
        p Медицинская служба «Доктор 03» представляет собой широкую сеть постов Скорой Медицинской Помощи в Москве и Подмосковье для сокращения времени прибытия бригад к месту вызова.

        a(href="#").b-description-2__button Вызвать скорую помощь
      .b-description-2__image
        picture
          img(src="/i/doctors.png")