section.b-doctors-1
  .container
    .b-doctors-1__title
      h2 Врачи выездных бригад скорой помощи
    .b-doctors-1__items
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Константинопольский Константин Константинович
        .b-doctors-1__post Врач скорой медицинской помощи
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Иванов Иван Иванович
        .b-doctors-1__post Врач скорой медицинской помощи
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Константинопольский Константин Константинович
        .b-doctors-1__post Врач скорой медицинской помощи
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Иванов Иван Иванович
        .b-doctors-1__post Врач скорой медицинской помощи
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Иванов Иван Иванович
        .b-doctors-1__post Врач скорой медицинской помощи
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Иванов Иван Иванович
        .b-doctors-1__post Врач скорой медицинской помощи
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Иванов Иван Иванович
        .b-doctors-1__post Врач скорой медицинской помощи
      a(href="#").b-doctors-1__item
        .b-doctors-1__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-1__name Иванов Иван Иванович
        .b-doctors-1__post Врач скорой медицинской помощи