section.b-doctors-2
  .container
    .b-doctors-2__title
      h2 Врачи выездных бригад скорой помощи
    .b-doctors-2__items
      a(href="#").b-doctors-2__item
        .b-doctors-2__photo
          picture
            img(src="/i/doctor-1.png")
        .b-doctors-2__name Константинопольский Константин Константинович
        .b-doctors-2__post Врач скорой медицинской помощи
      a(href="#").b-doctors-2__item
        .b-doctors-2__photo
          picture
            img(src="/i/doctor-2.png")
        .b-doctors-2__name Иванов Иван Иванович
        .b-doctors-2__post Врач скорой медицинской помощи
      a(href="#").b-doctors-2__item
        .b-doctors-2__photo
          picture
            img(src="/i/doctor-3.png")
        .b-doctors-2__name Константинопольский Константин Константинович
        .b-doctors-2__post Врач скорой медицинской помощи
      a(href="#").b-doctors-2__item
        .b-doctors-2__photo
          picture
            img(src="/i/doctor-4.png")
        .b-doctors-2__name Иванов Иван Иванович
        .b-doctors-2__post Врач скорой медицинской помощи