section.b-feedback-nav
  .container 
    .b-feedback-nav__container
      .b-feedback-nav__prev Назад
      .b-feedback-nav__navigation
        .b-feedback-nav__count Отзывы <span>1 - 3</span> из <span>80</span>
        .b-feedback-nav__page 1 2 3 4 5... 27
      .b-feedback-nav__next Далее
