section.b-feedback
  .container 
    .b-feedback__container
      .b-feedback__icon
        img(src="/i/icon-message.svg" loading="lazy")
      .b-feedback__content
        .b-feedback__name Ольга Васильевна
        .b-feedback__feedback.text
          p Приношу огромную благодарность за прекрасно проведенную мне операцию по установлению трех стентов профессору Колединскому Антону Геннадиевичу и всей его команде врачей, медсестер и анестезиологов. Восхищаюсь их работой и уровнем профессионализма. Не ожидала, но во время операции звучит приятная музыка и это прекрасно. Условия в палате хорошие, средний медперсонал работает слаженно, все просьбы всегда выполняются. С наступающим Новым Годом. дорогие медики! Здоровья вам всем и вашим семьям, будьте счастливы и успешны во всем!
        .b-feedback__answer
          .b-feedback__answer-header
            .b-feedback__answer-icon
              img(src="/i/icon-logo.svg" loading="lazy")
            .b-feedback__answer-message Ответ клиники
          .b-feedback__answer-text.text 
            p Добрый день, Ольга Васильевна.<br> Благодарим Вас за прекрасные, добрые слова и высокую оценку профессионализма наших специалистов! Нам очень приятно, что Ваш выбор выпал именно на нашу клинику! Ведь мы прикладываем максимум усилий, чтобы наши пациенты получали высококачественную врачебную помощь и сервис высокого уровня. Поэтому в наших клиниках работают профессионалы с большим опытом работы – высококлассные врачи с любовью к своей профессии и людям! Крепкого Вам здоровья и всех благ! <br> С уважением,<br>Главный врач  «СМ-Клиника» на Волгоградском проспекте Терентьева Т.А.
      .b-feedback__info
        .b-feedback__date Отзыв от <span>29.12.2020</span>
        a(href="/i/b-feedback-1.jpg" data-fslightbox="b-feedback").b-feedback__original
          picture
            img(src="/i/b-feedback-1.jpg" loading="lazy" )