section.b-anchors-feedback
  .container
    .b-anchors-feedback__title
      h2 Отзывы
    .b-anchors-feedback__links
      .b-anchors-feedback__filters
        a(href="#").b-anchors-feedback__item.b-anchors-feedback__item--active Отзывы с сайта
        a(href="#").b-anchors-feedback__item Отзывы с сайта
      a(href="#").b-anchors-feedback__send
        .b-anchors-feedback__icon
          img(src="/i/icon-pen.svg")
        span Оставить отзыв
