.b-gallery
  .container
    .b-gallery__title
      h2 Фотогалерея
    .b-gallery__container 
      .b-gallery__swiper
        .b-gallery__swiper-wrapper.swiper-wrapper
          a.b-gallery__item.swiper-slide(href="/i/gallery-photo-1.jpg" data-fslightbox="b-main-gallery")
            picture
              img(src="/i/gallery-photo-1.jpg")
          a.b-gallery__item.swiper-slide(href="/i/gallery-photo-2.jpg" data-fslightbox="b-main-gallery")
            picture
              img(src="/i/gallery-photo-2.jpg")
          a.b-gallery__item.swiper-slide(href="/i/gallery-photo-3.jpg" data-fslightbox="b-main-gallery")
            picture
              img(src="/i/gallery-photo-3.jpg")
          a.b-gallery__item.swiper-slide(href="/i/gallery-photo-4.jpg" data-fslightbox="b-main-gallery")
            picture
              img(src="/i/gallery-photo-4.jpg")
          a.b-gallery__item.swiper-slide(href="/i/gallery-photo-3.jpg" data-fslightbox="b-main-gallery")
            picture
              img(src="/i/gallery-photo-3.jpg")
          a.b-gallery__item.swiper-slide(href="/i/gallery-photo-2.jpg" data-fslightbox="b-main-gallery")
            picture
              img(src="/i/gallery-photo-2.jpg")
          a.b-gallery__item.swiper-slide(href="/i/gallery-photo-1.jpg" data-fslightbox="b-main-gallery")
            picture
              img(src="/i/gallery-photo-1.jpg")
      .b-gallery__swiper-buttons
        button.b-gallery__swiper-button-prev
        button.b-gallery__swiper-button-next
