.b-list
  .container
    .b-list__title Особенности работы неотложной медицинской помощи службы «Доктор 03»
    .b-list__items
      .b-list__item
        .b-list__count
        .b-list__text.text
          p В экстренных случаях или при резком ухудшении состояния звоните по номеру телефона неотложки «Доктор 03». Успокойтесь и сообщите диспетчеру неотложной медицинской помощи как можно более подробную информацию о случившемся. В нашей неотложке работают опытные специалисты, которые за несколько минут выяснят суть дела и отправят соответствующую бригаду для оказания неотложной помощи взрослому или ребенку.
      .b-list__item
        .b-list__count
        .b-list__text.text
          p В экстренных случаях или при резком ухудшении состояния звоните по номеру телефона неотложки «Доктор 03». Успокойтесь и сообщите диспетчеру неотложной медицинской помощи как можно более подробную информацию о случившемся. В нашей неотложке работают опытные специалисты, которые за несколько минут выяснят суть дела и отправят соответствующую бригаду для оказания неотложной помощи взрослому или ребенку.
      .b-list__item
        .b-list__count
        .b-list__text.text
          p В экстренных случаях или при резком ухудшении состояния звоните по номеру телефона неотложки «Доктор 03». Успокойтесь и сообщите диспетчеру неотложной медицинской помощи как можно более подробную информацию о случившемся. В нашей неотложке работают опытные специалисты, которые за несколько минут выяснят суть дела и отправят соответствующую бригаду для оказания неотложной помощи взрослому или ребенку.
