section.b-main-services
  .container
    .b-main-services__title
      h2 Наши услуги
    .b-main-services__items
      .b-main-services__item.b-main-services__item--info
        .b-main-services__icon
          img(src="/i/icon-info.svg")
        .b-main-services__text.text.text
          p Обычно платная скорая медицинская помощь необходима в тех случаях, когда остро стоит вопрос о жизни больного. Мы оказываем платную скорую помощь детям и взрослым, ведь от внезапных проблем со здоровьем не застрахован даже самый крепкий организм. Коммерческая скорая «Доктор 03» приедет к вам, где бы вы ни находились. Стандартно на выезд отправляется бригада в составе врача, фельдшера и водителя. Наш медицинский персонал имеет большой опыт работы в экстренных ситуациях, поэтому вы можете быть уверены, что при вызове скорой помощи к вам приедут квалифицированные специалисты. При этом мы осуществляем дежурство скорой помощи круглосуточно. Район города также не важен, а при необходимости может быть вызвана скорая помощь и в Подмосковье.
          p Если требует ситуация, мы оказываем скорую специализированную помощь: реанимационную, кардиологическую, травматологическую и т.д. На платный вызов к ребенку отправится бригада во главе с педиатром. Все автомобили частной скорой помощи «Доктор 03» оснащены современным оборудованием и широким спектром медикаментов, необходимых для оказания помощи пациентам любого возраста, начиная с грудного.
          p Помимо перечисленного, платная скорая помощь необходима роженицам и беременным женщинам. В таком случае при вызове скорой помощи к женщине направляется бригада, состоящая из врача и фельдшера. Машина скорой «Доктор 03» доставит пациентку в выбранный роддом. В случае острой необходимости наши врачи примут роды в дороге. Помимо этого, круглосуточная платная скорая помощь «Доктор 03» оказывает следующие услуги.
      a(href="#").b-main-services__item
        .b-main-services__icon
          img(src="/i/icon-doctor.svg")
        .b-main-services__text.text
          p Совершать стандартные выезды к пациентам московского региона и в другие города страны
      a(href="#").b-main-services__item
        .b-main-services__icon
          img(src="/i/icon-wheel.svg")
        .b-main-services__text.text
          p Сопровождать больных в поездках
      a(href="#").b-main-services__item
        .b-main-services__icon
          img(src="/i/icon-party.svg")
        .b-main-services__text.text
          p Оказывать услуги скорой помощи при дежурстве на массовых мероприятиях
      a(href="#").b-main-services__item
        .b-main-services__icon
          img(src="/i/icon-brain.svg")
        .b-main-services__text.text
          p Оказывать психиатрическую помощь на дому;
      a(href="#").b-main-services__item
        .b-main-services__icon
          img(src="/i/icon-plus.svg")
        .b-main-services__text.text
          p Проводить госпитализацию всех категорий пациентов, в том числе беременных и детей, в стационар по выбору
      a(href="#").b-main-services__item.b-main-services__item--call
        .b-main-services__icon
          img(src="/i/icon-ambulance-car.svg")
        .b-main-services__text.text
          p Скорая помощь 27/4
        .button Вызвать скорую помощь