section.b-main-publications
  .container
    .b-main-publications__title
      h2 Платная скорая помощь
    .b-main-publications__items
      a(href="#").b-main-publications__item
        .b-main-publications__image
          picture
            img(src="/i/publication-1.png")
        .b-main-publications__text.text
          .b-main-publications__headline В чем разница между «скорой» и «неотложкой»?
          p В чем разница между «скорой» и «неотложкой»? Большинство граждан до сих пор не понимают разницы между двумя этими понятиями.
        .b-main-publications__button.button Подробнее
      a(href="#").b-main-publications__item
        .b-main-publications__image
          picture
            img(src="/i/publication-2.png")
        .b-main-publications__text.text
          .b-main-publications__headline Когда необходимо вызвать скорую помощь для ребенка
          p Маленький ребенок гораздо более подвержен травмам и заболеваниям.
        .b-main-publications__button.button Подробнее
      a(href="#").b-main-publications__item
        .b-main-publications__image
          picture
            img(src="/i/publication-3.png")
        .b-main-publications__text.text
          .b-main-publications__headline Что делать до приезда «Скорой помощи»?
          p Какие меры следует предпринять, ожидая приезда медиков.
        .b-main-publications__button.button Подробнее
      a(href="#").b-main-publications__item
        .b-main-publications__image
          picture
            img(src="/i/publication-4.png")
        .b-main-publications__text.text
          .b-main-publications__headline Психиатрическая помощь
          p Варианты оказания психиатрической помощи: диспансер или помощь на дому?
        .b-main-publications__button.b-main-publications__button.button Подробнее
    button.b-main-publications__show-more.button Другие публикации
