section.b-main-ambulances
  .container
    .b-main-ambulances__title
      h1 Платная скорая помощь
    .b-main-ambulances__items
      .b-main-ambulances__item
        .b-main-ambulances__icon
          img(src="/i/icon-heart.svg" loading="lazy")
        .b-main-ambulances__links.text
          ul
            li 
              a(href="#") Скорая помощь
            li 
              a(href="#") Неотложная помощь
            li 
              a(href="#") Реанимация
      .b-main-ambulances__item
        .b-main-ambulances__icon
          img(src="/i/icon-children.svg" loading="lazy")
        .b-main-ambulances__links.text
          ul
            li 
              a(href="#") Скорая помощь
            li 
              a(href="#") Неотложная помощь
            li 
              a(href="#") Реанимация
      .b-main-ambulances__item
        .b-main-ambulances__icon
          img(src="/i/icon-plus.svg" loading="lazy")
        .b-main-ambulances__links.text
          ul
            li 
              a(href="#") Скорая помощь
            li 
              a(href="#") Неотложная помощь
            li 
              a(href="#") Реанимация
      .b-main-ambulances__item
        .b-main-ambulances__icon
          img(src="/i/icon-doctor.svg" loading="lazy")
        .b-main-ambulances__links.text
          ul
            li 
              a(href="#") Скорая помощь
            li 
              a(href="#") Неотложная помощь
            li 
              a(href="#") Реанимация


