section.b-main-advantages
  .container
    .b-main-advantages__title
      h2 Преимущества
    .b-main-advantages__items
      .b-main-advantages__item
        .b-main-advantages__icon
          img(src="/i/icon-hand-like.svg" loading="lazy")
        .b-main-advantages__text.text
          p Платная скорая помощь имеет множество преимуществ перед гарантированной государственной медициной. Наши врачи, как и пациенты, заинтересованы в качестве оказываемых услуг. По вызову бригады скорой помощи выезжают высококвалифицированные специалисты, имеющие огромный опыт в данной сфере.
      .b-main-advantages__item
        .b-main-advantages__icon
          img(src="/i/icon-hand-like.svg" loading="lazy")
        .b-main-advantages__text.text
          p Платная скорая помощь имеет множество преимуществ перед гарантированной государственной медициной. Наши врачи, как и пациенты, заинтересованы в качестве оказываемых услуг. По вызову бригады скорой помощи выезжают высококвалифицированные специалисты, имеющие огромный опыт в данной сфере.
      .b-main-advantages__item
        .b-main-advantages__icon
          img(src="/i/icon-hand-like.svg" loading="lazy")
        .b-main-advantages__text.text
          p Платная скорая помощь имеет множество преимуществ перед гарантированной государственной медициной. Наши врачи, как и пациенты, заинтересованы в качестве оказываемых услуг. По вызову бригады скорой помощи выезжают высококвалифицированные специалисты, имеющие огромный опыт в данной сфере.
      .b-main-advantages__item--video
         a(data-fslightbox="" href="/i/plug-video.jpg")
          picture 
            img(src="/i/plug-video.jpg" loading="lazy")
      .b-main-advantages__item
        .b-main-advantages__icon
          img(src="/i/icon-ambulance-car.svg" loading="lazy")
        .b-main-advantages__text.text
          p <b>Перевозка пострадавших.</b><br> Московская скорая медицинская помощь «Доктор 03» оказывает услуги по транспортировке пациентов по территории столицы, Подмосковья или в другие города страны. У нас вы можете заказать перевозку больного в любом состоянии.
        a(href="#").button Вызвать скорую помощь
