section.b-main-article
  .container
    .b-main-article__title
      h2 Платная скорая помощь
    .b-main-article__container
      .b-main-article__text.text
        p Каждый человек сталкивается с проблемами со здоровьем. Большая часть заболеваний поддается лечению в домашних условиях, но порой бывает так, что без квалифицированной скорой помощи не обойтись. Очень опасны ситуации, когда она необходима немедленно, так как возникшее состояние несет угрозу для жизни. Единственный выход в этом случае – вызов скорой помощи. Но возникает вопрос: как долго ждать приезда скорой помощи и будут ли услуги оказаны в полном объеме? Чтобы не думать об этом, воспользуйтесь услугами платной скорой помощи. Здесь вы можете посмотреть видео сюжет об оснащении машины скорой помощи «СМ-Клиника Скорая медицинская помощь».
        p Сегодня услуги платной скорой помощи актуальны для пациентов в независимости от возраста и пола. Главное отличие нашей деятельности от государственной скорой помощи – это отсутствие нормативов, касающихся времени обслуживания. Наши специалисты будут находиться у пациента столько, сколько требует его состояние. С нами вы можете быть уверены: платная скорая помощь будет оказана в полном объеме.Служба платной скорой помощи «СМ-Клиника Скорая медицинская помощь» входит в многопрофильный медицинский холдинг «СМ-Клиника». Более 10 лет мы спасаем жизнь и здоровье пациентов, оказывая квалифицированную помощь круглосуточно и без выходных. Служба платной скорой помощи «Доктор 03» работает в Москве, Московской области, а также выезжает в регионы России.
      .b-main-article__image
        picture
          img(src="/i/ambulance.png" loading="lazy")