section.b-main-intro
  .b-main-intro__swiper.swiper
    .b-main-intro__swiper-wrapper.swiper-wrapper
      .swiper-slide
        .b-main-intro__text
          .b-main-intro__title
            h2 бесплатная транспортировка пациента в стационар <br> «см-клиника»
          a(href="#").button Узнать больше
        .b-main-intro__image
          picture
            img(src="/i/doctors.png" loading="lazy")
      //- .swiper-slide
      //-     .b-main-intro__text
      //-       .b-main-intro__title
      //-         h2 бесплатная транспортировка пациента в стационар <br> «см-клиника»
      //-       a(href="#").button Узнать больше
      //-     .b-main-intro__image
      //-       picture
      //-         img(src="/i/doctors.png" loading="lazy")
      //- .swiper-slide
          .b-main-intro__text
            .b-main-intro__title
              h2 бесплатная транспортировка пациента в стационар <br> «см-клиника»
            a(href="#").button Узнать больше
          .b-main-intro__image
            picture
              img(src="/i/doctors.png" loading="lazy")
    .b-main-intro__pagination.swiper-pagination
    .b-main-intro__buttons
      button.b-main-intro__button--prev
      button.b-main-intro__button--next
