.b-possibilities
  .container
    .b-possibilities__title
      h2 Возможности
    .b-possibilities__items
      a(href="#").b-possibilities__item
        .b-possibilities__icon
          img(src="/i/icon-doctor.svg")
        .b-possibilities__text.text
          p Совершать стандартные выезды к пациентам московского региона и в другие города страны
      a(href="#").b-possibilities__item
        .b-possibilities__icon
          img(src="/i/icon-wheel.svg")
        .b-possibilities__text.text
          p Сопровождать больных в поездках
      a(href="#").b-possibilities__item
        .b-possibilities__icon
          img(src="/i/icon-plus.svg")
        .b-possibilities__text.text
          p Проводить госпитализацию всех категорий пациентов, в том числе беременных и детей, в стационар по выбору
      a(href="#").b-possibilities__item.b-possibilities__item--ambulance
        .b-possibilities__icon
          img(src="/i/icon-ambulance-car.svg")
        .b-possibilities__text.text
          p Скорая помощь 27/4
        .b-possibilities__button Вызвать скорую помощь
      a(href="#").b-possibilities__item
        .b-possibilities__icon
          img(src="/i/icon-party.svg")
        .b-possibilities__text.text
          p Оказывать услуги скорой помощи при дежурстве на массовых мероприятиях
      a(href="#").b-possibilities__item
        .b-possibilities__icon
          img(src="/i/icon-brain.svg")
        .b-possibilities__text.text
          p Оказывать психиатрическую помощь на дому;
      .b-possibilities__item.b-possibilities__item--info
        .b-possibilities__text.text
          p Среди преимуществ платных услуг частной скорой помощи «Доктор 03» – моментальная готовность к выезду, высокая квалификация персонала, наличие в штате узких специалистов, современное медикаментозное и техническое оснащение бригад.
          p Для получения подробной информации об услугах скорой медицинской помощи «Доктор 03» или вызова бригады звоните по телефону <br> <a href="#"> +7 (495) 153-15-28</a>
