section.b-price
  .container
    .b-price__container
      .b-price__header
        .b-price__name
          .b-price__icon
            img(src="/i/icon-doctor.svg")
          span Оказание скорой медицинской помощи
        a(href="# ").b-price__button.button Вызвать
      .b-price__table
        #b-help.anchor
        table
          tbody
            tr
              th Наименование
              th Цена
            tr
              td Выезд фельдшерской бригады Скорой медицинской помощи (в пределах МКАД)
              td <span>1 000</span> руб.
            tr
              td Вызов бригады Скорой медицинской помощи по Москве в пределах МКАД - до 1 часа работы с момента прибытия
              td <span>5 000</span> руб.
            tr
              td Вызов бригады Скорой медицинской помощи за МКАД до 30 км от МКАД - до 1 часа работы с момента прибытия
              td <span>7 500</span> руб.
            tr
              td Вызов бригады Скорой медицинской помощи за МКАД до 50 км от МКАД - до 1 часа работы с момента прибытия
              td <span>7 000</span> руб.
            tr
              td Выезд бригады Скорой медицинской помощи по Москве в пределах МКАД -до 1 часа работы с момента прибытия <br> (включает выезд бригады СМП, осмотр, оказание неотложной помощи, включая снятие ЭКГ, глюкометрия, пульсоксиметрия)
              td <span>650</span> руб.
            tr
              td Вызов бригады Скорой медицинской помощи за МКАД свыше 50 км от МКАД - до 1 часа работы с момента прибытия
                ul 
                  li Доплата за каждый 1 км начиная с 1-го км от МКАД (в одну сторону)
                  li Фиксированная часть стоимости
              td <span>5 500</span> руб. <br> <span>100</span> руб.
      .b-price__info
        .b-price__icon.b-price__icon--info
          img(src="/i/icon-info.svg")
        span Оказание помощи бригадой Скорой медицинской помощи второму и последующему пациенту (по одному адресу) оплачивается из расчета + 50 % к стоимости вызова
            