.b-services
  .container
    .b-services__title
      h2 Услуги
      p Медицинская служба «Доктор 03» оказывает услуги платной скорой помощи в Москве, Московской области и регионах России. Наши возможности позволяют нам:
    .b-services__items
      .b-services__item
        .b-services__item-icon
          img(src="/i/yellow-car.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/team.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/child.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/bear.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/pregnant.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/elderly.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/compartment.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/white-car.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/doctors.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/balloons.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/brain.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее
      .b-services__item
        .b-services__item-icon
          img(src="/i/calling.png")
        .b-services__item-text.text
          span Скорая медицинская помощь
          p Порой самочувствие может ухудшиться в самый неожиданный момент - дома, на улице, на работе, в дороге и т.д. И в этом случае единственным выходом оказывается звонок в службу скорой медицинской помощи.
        a(href="#").b-services__item-button.button Подробнее