@import "_variables";

.b-description {
  $s: &;
  margin-top: 50px;
  margin-bottom: 50px;

  &__title {
    font-size: $font-size_h2m;
    margin-bottom: 35px;
  }

  &__back {
    padding: 10px 15px 10px 45px;
    display: inline-block;
    position: relative;
    background-color: $major-light;
    border-radius: $br-main;
    text-decoration: none;
    color: black;
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 15px solid $major;
    }

    &:hover {
      background-color: $minor-light;

      &::before {
      border-right: 15px solid $minor;
      }
    }
  }

  &__container {
    padding: 35px;
    background-color: $minor-lightest;
    border-radius: $br-main;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 100px;

    #{$s}__button {
      padding: 10px 90px;
      display: flex;
      align-self: flex-start;
      margin-top: auto;
      background-color: $minor;
      border-radius: $br-main;
      text-decoration: none;
      color: white;
      text-align: center;
      cursor: pointer;
  
      &:hover {
        background-color: $major;
        transition: 0.2s;
      }
    }
  }

 

  &__image {
    flex-shrink: 0;
    max-width: 25%;
    picture img {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: $br-main;
    }
  }
}