@import "_variables";

.b-services {
  $s: &;
  margin-top: 50px;
  margin-bottom: 50px;

  &__title h1,
  &__title h2, 
  &__title h3, 
  &__title h4 {
    font-size: $font-size_h2;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: $major-light;
    border-radius: $br-main;

    &:hover {
      background-color: $minor-lightest;
      transition: 0.2s;

      #{$s}__item-icon {
        background-color: $minor;
      }

      #{$s}__item-button {
        background-color: $minor;
      }
    } 
  }

  &__item-icon {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-color: $major;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item-text {
    margin-bottom: 20px;

    span {
      display: block;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
    }
  }

  &__item-button {
    display: flex;
    align-self: flex-start;
    margin-top: auto;
  }
}