// Colors
$major: #13AB7B;
$major-light: #DBF0E9;
$major-lightest: #F1F4F9;
$major-dark: #28926E;

$minor: #FF7272;
$minor-light: #FFC2C2;
$minor-lightest: #FEF1F1;

$extra: #FE8B4B;
$extra-light: #FFDBC7;

$light: #F4F4F4;

// Border radius
$br-main: 40px;
$br1: 3px;
$br2: 5px;
$br3: 10px;
$br4: 15px;
$br5: 20px;

// Font size
$font-size_h2: 38px;
$font-size_h2m: 30px;

// Shadow
$shadow1: 0px 2px 4px rgba(22, 84, 69, 0.15);
$shadow2: 0px 10px 20px rgba(76, 92, 82, 0.25);
$shadow3: 0px 20px 30px #E5E5E5;

// Breakpoints
$breakpoint1: 1400px;
$breakpoint2: 1250px;
$breakpoint3: 1024px;
$breakpoint4: 768px;
$breakpoint5: 480px;
$breakpoint6: 320px;
$max-width: 1430px;