doctype html
html(lang="ru")
	head
		include head

		title
			block title
		block head
	body
		//.wrapper.index-page.alert-message
		.wrapper.index-page.alert-message
			.wrapper__box
				include /_template/pug/header
				main.main-content
					include /_template/pug/breadcrumbs
					block content

				include /_template/pug/footer