@import "_variables.scss";

.footer {
	padding: 40px 0 0 0;
	background-color: $major-light;

	&__links {
		display: flex;
		justify-content: space-between;


		ul li a {
			color: inherit;
			text-decoration: none;
			display: inline-block;
			padding: 5px 15px;
			margin-left: -15px;
			text-decoration: none;
			color: inherit;
			border-radius: $br-main;

			&:hover {
				background-color: $major;
				color: white;
			}
		}
	}

	&__column {
		max-width: 20%;
	}

	&__logo {
		&:hover {
			img {
				transform: scale(1.1);
				transition: 0.2s;
			}
		}
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 25px;
	}

	&__tel {
		padding: 10px 15px 10px 45px;
		display: block;
		margin-bottom: 25px;
		color: rgb(18, 16, 16);
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: $br-main;
		font-weight: bold;
		background-image: url("/i/icon-phone.svg");
		filter: saturate(0%) brightness(0%);
		background-repeat: no-repeat;
		background-position: 15px 50%;
		background-size: 10%;

		&:hover {
			background-size: 12%;
			transition: 0.2s;
		}
	}

	&__app {
		display: flex;
		align-items: center;
		border-radius: 10px;
		padding: 10px;
		width: 80%;
		margin-bottom: 25px;
		background-color: black;
		color: white;
		text-decoration: none;

		&:hover {
      transform: scale(1.1);
      transition: 0.2s;
		}

		&:not(:nth-last-child(1)) {
			margin-bottom: 10px;
		}

		div {
			line-height: 1;
			font-size: 10px;

			span {
				font-size: 18px;
				display: block;
			}
		}
	}

	&__app-icon {
		margin-right: 10px;
	}

	&__information  {
		display: flex;
		justify-content: space-between;
		margin-bottom: 45px;
	}

	&__social {
		a {
			margin-top: 10px;
			display: block;
			width: 42px;
			height: 42px;
			background-color: $major;
			border-radius: 50%;
			padding: 10px;
			
			&:hover {
				background-color: $minor;
			}
		}
	}

	&__disclaimer {
		background-color: white;
		text-transform: uppercase;
		font-size: 35px;
		color: #949494;
		text-align: center;

		span {
			display: block;
			padding: 30px 0;
		}
	}
}