@import "_variables";

.header {
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
	}

	&__logo {
		width: 20%;

		img {
			display: block;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
		width: 55%;

		a {
			flex-grow: 1;
			text-align: center;
		}
		
		a:nth-child(1) {
			padding: 10px 15px 10px 50px;
			color: rgb(18, 16, 16);
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: $br-main;
			font-weight: bold;
			background-image: url("/i/icon-phone.svg");
			filter: saturate(0%) brightness(0%);
			background-repeat: no-repeat;
			background-position: 25px 50%;
    	background-size: 10%;

			&:hover {
				background-size: 12%;
				transition: 0.3s;
			}
		}

		a:not(:first-child) {
			text-decoration: none;
		}
		
	}
}

.nav {
	background-color: $major-light;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__search {
		position: relative;
		width: 20%;

		form input {
			border-radius: $br-main;
			border: none;
			font-size: 14px;
			padding: 10px 40px 10px 20px;
			width: 100%;
	
			&::placeholder {
				color: black;
			}
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 5%;
			width: 18px;
			height: 18px;
			border: none;
			background-color: inherit;
			cursor: pointer;
			background-image: url("/i/icon-loupe.svg");
			background-repeat: no-repeat;

			&:hover {
				background-size: 120%;
			}
		}
	}

	&__container > ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 20px;
		width: 55%;
		position: relative;

		li a {
			display: inline-block;
			padding: 20px 5px;
			color: black;
			text-decoration: none;
		}
			
		li a:hover {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: $major;
			}
		}
	}

	&__container > ul	li ul {
			display: none;
			position: absolute;
			// top: 62px;
			z-index: 20;
			padding: 25px;
			border-radius: $br-main;
			background-color: white;
			font-size: 15px;

			li a {
				padding: 10px;
				border-radius: $br-main;

				&:hover {
					background-color: $major;
					color: white;

					&::before {
						content: none;
					}
				}
			}
	}

	&__container > ul	li a[class="services"] + ul {
			width: 100%;
			columns: 2;
			right: 0;
	}

	&__container > ul	li a[class="about"] + ul {
		columns: 1;
		right: 55px;
}

	&__container ul li:hover ul {
		display: block;
	}
}