footer.footer
	.container
		.footer__links
			a(href="#").footer__logo
				img(src="/i/logo-footer.svg")
			.footer__column
				.footer__title Доктор 03
				ul 
					li
						a(href="#") Услуги
					li
						a(href="#") Цены
					li
						a(href="#") О нас
					li
						a(href="#") Отзывы
					li
						a(href="#") Контакты
			.footer__column
				.footer__title Популярное
				ul 
					li
						a(href="#") Вызов скорой помощи
					li
						a(href="#") Скорая для детей
					li
						a(href="#") Скорая для беременных
					li
						a(href="#") Медицинская транспортировка
					li
						a(href="#") Сопровождение мероприятий
			.footer__column
					.footer__title СМ-клиника
					ul 
						li
							a(href="#") Детские клиники
						li
							a(href="#") Центр хирургии
						li
							a(href="#") Пластическая хирургия
						li
							a(href="#") Стоматология
						li
							a(href="#") Центр эко
						li
							a(href="#") Онкологический центр
						li
							a(href="#") Косметология
			.footer__contacts 
				.footer__title Контакты
				a(href="tel:+84951532433").footer__tel +7 (495) 153-24-33
				.footer__apps
					a(href="#").footer__app 
						.footer__app-icon
							img(src="/i/icon-apple.svg")
						div Загрузите в <span>App Store</span>
					a(href="#").footer__app
						.footer__app-icon
							img(src="/i/icon-googleplay.svg")
						div доступно в<span>Goggle Play</span>
					a(href="#").footer__app
						.footer__app-icon
							img(src="/i/icon-appgallery.svg")
						div Откройте в <span>App Gallery</span>
		.footer__information 
			p <b>ООО «Доктор 03» Лицензия №ЛО-77-01-012341 от 19 мая 2016г.</b><br>Политика «СМ-Клиника» в отношении обработки персональных данных
			.footer__social Мы в социальных сетях:
				a(href="#")
					img(src="/i/icon-vk.svg")
	.footer__disclaimer 
		.container
			span имеются противопоказания необходима консультация специалиста