//.header-alert
	.container
		.header-alert__content
			div
				a(href="#") Уважаемые пациенты! В связи с техническими неполадками в настоящее время могут быть сложности с дозвоном в контакт-центр.

header#header.header
	.container
		.header__menu
			a(href="#").header__logo
				img(src="/i/logo.svg" loading="lazy")
			.header__list
				a(href="tel:+84951532433") +7 (495) 153-24-33
				a(href="#").button Задать вопрос
				a(href="#").button Обратный звонок
				a(href="#").button Вызвать  скорую
	nav.nav
		.container
			.nav__container 
				.nav__search
					form(method="GET" action="https://echo.htmlacademy.ru/")
						input(name="site-search" type="text" placeholder="Поиск по сайту")
						button(type="submit")
				ul
					li <a href="#"> Главная </a>
					li <a href="#" class="services"> Услуги </a>
						ul
							li <a href="#">Скорая медицинская помощь</a>
							li <a href="#">Бригада анестезиологии и реанимации</a>
							li <a href="#">Скорая помощь для детей</a>
							li <a href="#">Детская неотложка</a>
							li <a href="#">Скорая помощь для беременных</a>
							li <a href="#">Госпитализация</a>
							li <a href="#">Транспортировка больных и пострадавших</a>
							li <a href="#">Перевозка больных в регионах</a>
							li <a href="#">Медицинское сопровождение в дороге</a>
							li <a href="#">Медицинское сопровождение мероприятий</a>
							li <a href="#">Психиатрическая помощь на дому</a>
							li <a href="#">Вызов врача на дом</a>
					li <a href="#"> Цены </a>
					li <a href="#" class="about"> О нас </a>
						ul
							li <a href="#">Врачи</a>
							li <a href="#">Автопарк</a>
							li <a href="#">Новости</a>
							li <a href="#">Правовая информация</a>
							li <a href="#">Частые вопросы</a>
							li <a href="#">Информация для юридических лиц</a>
					li <a href="#"> Отзывы </a>
					li <a href="#"> Контакты </a>



